* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;

}

.container {
    /* width: 100%; */
    padding: 30px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    max-width: 1200px;
    flex-wrap: wrap;
}

.text .title {

    font-size: 1.9rem;
    font-weight: 50;
    color: hsl(212, 6%, 44%);
    padding-top: 40px;
    padding-bottom: 5px;
}

.text .bold {
    color: hsl(234, 12%, 34%);
    padding-top: 5px;
}

.text .small {
    color: hsl(212, 6%, 44%);
    padding-top: 10px;
    font-size: 1rem;
    font-size: small;
    font-weight: 600;

}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 280px);
    gap: 20px;
    margin: 40px;
    justify-items: center;
    align-items: center;
}

.card-1 {
    position: relative;
    max-width: 280px;
    min-height: 200px;
    height: auto;
    grid-column: 1;
    grid-row: 2;
    background-color: hsl(0, 0%, 100%);
    text-align: start;
    padding: 20px;
    border-top: 4px solid hsl(180, 62%, 55%);
    border-radius: 5px;

}

.card-2 {
    position: relative;
    max-width: 280px;
    min-height: 200px;
    height: auto;

    grid-column: 2;
    grid-row: 1;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    text-align: start;
    padding: 20px;
    border-top: 4px solid hsl(0, 78%, 62%);
    border-radius: 5px;

}

.card-3 {
    position: relative;
    min-height: 200px;
    max-width: 280px;
    height: auto;

    grid-column: 2;
    grid-row: 3;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    text-align: start;
    padding: 20px;
    border-top: 4px solid hsl(34, 97%, 64%);
    border-radius: 5px;

}

.card-4 {
    position: relative;
    max-width: 280px;
    min-height: 200px;
    height: auto;

    grid-column: 3;
    grid-row: 2;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    text-align: start;
    padding: 20px;
    border-top: 4px solid hsl(212, 86%, 64%);
    border-radius: 5px;
}

.card-1,
.card-2,
.card-3,
.card-4 {
    box-shadow: 0px 10px 20px hsl(212, 6%, 44%, 0.2);
}

.card-p {
    padding-bottom: 40px;
    font-size: small;
    color: hsl(212, 6%, 44%);
    font-weight: 400;

}

img {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
}